name: workflow.yml

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Grant gradlew permission
        run: chmod +x ./gradlew

      - name: Build Spring Boot Jar
        run: ./gradlew bootJar -x test

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build & push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/git-prac:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/git-prac:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            docker stop git-prac || true
            docker rm git-prac || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/git-prac:latest
            docker run -d -p 80:8080 \
              -e URL=jdbc:mysql://${{ secrets.RDS_URL }}/todo_db \
              -e USERNAME=${{ secrets.RDS_USERNAME }} \
              -e PASSWORD=${{ secrets.RDS_PASSWORD }} \
              -e SERVER_FORWARD_HEADERS_STRATEGY=native \
              --name git-prac \
              ${{ secrets.DOCKER_USERNAME }}/git-prac:latest